<div class="container ">
    <div class="main dashboard">
        <table class="table">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>Name </td>
                    <td>: {{logedInUser?.name}}</td>
                </tr>
                <tr>

                    <td>Email </td>
                    <td>: {{logedInUser?.email}}</td>
                </tr>

                <tr>

                    <td>Security Question </td>
                    <td>: {{logedInUser?.question}}</td>
                </tr>
                <tr>

                    <td>Answer </td>
                    <td>: {{logedInUser?.answer}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-togglenav></app-togglenav>